
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/src/assets/css/run.css">

<!-- partial:index.partial.html -->
<div class="running">
    <div class="outer">
        <div class="body">
            <div class="arm behind"></div>
            <div class="arm front"></div>
            <div class="leg behind"></div>
            <div class="leg front"></div>
        </div>
    </div>
</div>

<!-- <div class="buttons">
    <button onclick="document.querySelector('.running').style.setProperty('--color', 'rgba(255, 255, 255, .3)')">opacity .3</button>
    <button onclick="document.querySelector('.running').style.setProperty('--color', 'rgba(255, 255, 255, 1)')">opacity 1</button>
    <button onclick="document.querySelector('.running').style.setProperty('--duration', '.5s')">duration .5</button>
    <button onclick="document.querySelector('.running').style.setProperty('--duration', '1s')">duration 1</button>
    <button onclick="document.querySelector('.running').style.setProperty('--duration', '.7s')">duration .7</button>
</div> -->

 